
body {
    margin: 0; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  } 
  
  p, b, li, a, article {
    font-size: 1.25em; 
  }
  
  /*Allmän style*/
  main {
    width: 650px; 
    max-width: 100%; 
    margin: 0 auto;
  
  } 
  
  article {
    max-width: 36em; 
  }
  
  /*Footer*/
  footer {
    bottom: 0; 
    padding: 2em; 
    text-align: center;
    position: fixed; 
    width: 100%;
    background-color:  rgb(255, 136, 56);
  } 
  
  /*navigering*/
  nav {
    display: flex; 
    flex-direction: column;
  } 
  
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: rgb(255, 136, 56);
    height: 100%;  
    position: fixed; 
    overflow: auto;
  }
  
  .nav-link {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  } 
  
  .nav-link:hover {
    background-color: rgb(177, 94, 39);
    color: white;
  }
  
  /*header*/
  #logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding: 2em; 
    background-color: rgb(255, 230, 213);
    position: relative;
  }
  
  .navbar-brand {
    color: rgb(255, 136, 56); 
    text-decoration: none;
    font-size: 2.5em;
    font-weight: bold;
  }
  
  #headertime {
    font-size: 1.25em;
    border: 1px solid #454545; 
    padding: 0.5em; 
  }  
  
  /*knapp*/
  button {
    background-color: rgb(177, 94, 39);
    color: white;
    font-size: 1em;
    border: none; 
    padding: 0.5em; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer; 
  }
  
  button:hover {
    background-color: rgb(131, 69, 27);
  } 
  
  /*hemligt meddelande*/
  #secretMsg {
    font-size: 1.25em;
  }

  /*för kurser på JSON sidan*/
  .courseArticle {
    border-bottom: 1px solid #454545;
    font-size: 1em;
    padding-bottom: 0.75em; 
    padding-top: 0.75em; 
  }
  
  /*responsivitet för små skärmar*/
  @media(max-width: 1074px) {
    nav {
      display: block;
    }
  
    .nav {
      position: relative; 
      width: 100%; 
    }
  
    .nav-item {
      display: inline-block;
    } 
  }