@page "/"
@using moment1._2_dotnet.components

<PageTitle>Start</PageTitle>

<h1>Välkomen till min sida</h1>
<article>
    <p>
        Denna sida är skapad med Blazor Web Assembly. På undersidan Konvertering så kan man konvertera meter till fot och km/h till mph. 
        På undersidan JSON så läses en webbtjänst med en kurslista in. 
    </p>
</article>

<br>

<AboutComponent />
